*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
        
}

.btn {
    background-color: #30B868;;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
} 

#notes-section{
 width: 80%;
    max-width: 1340px;
    margin: 0 auto;
}

/* ------------------------------------- */
nav {
    width: 80%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    padding: 15px 0;
}
nav .menu {
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;    
}


nav .menu a {
    text-decoration: none;
    color: #000;
}
#hero{
    background-image: url(images/hero-bg.png);
}
.hero-content{
    width: 80%
    max-width: 1340px;
    margin: 0 auto;
    text-align: center;
    padding: 154px 0;
}
.hero-content .btn1{
    margin: 10px auto;
    
    display: flex;
    color: #30B868;
    padding: 12px 16px;
    background: #FFFFFF;
    border-radius: 25px;
    align-items: center;
    gap: 5px;
    border: none;
   
    
}
.hero-content h1{
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}
.hero-content h1 span{
    color: #30B868;
}
.hero-content p{
    color: #fff;
    margin-bottom: 30px;
}
.hero-content .new-btn{
    border: 1px solid #30B868;
    background: none;
    margin-left: 15px;
}
